<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h1>Usuários Cadastrados</h1>
  <table>
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Email</th>
        <th>Endereço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.usuario %></td>
          <td><%= user.email %></td>
          <td><%= user.endereco %></td>
          <td>
            <form action="/edit/<%= user.id %>" method="get" style="display:inline;">
              <button type="submit">Editar</button>
            </form>
            <form action="/delete/<%= user.id %>" method="post" style="display:inline;">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <form action="/limpar" method="post">
    <button type="submit">Limpar</button>

  </form>
</body>
</html>
